People whose last name doesn't end in ''yan'' #2

In [ ]:
import pandas as pd

df = pd.read_parquet('elections.parquet')

In [10]:
df_no_yan = df[~df['azganun'].str.endswith('յան')].reset_index(drop = True)
count_no_yan_province = df_no_yan.groupby('marz').size().reset_index(name = 'count')
count_no_yan_province

           marz  count
0     ԱՐԱԳԱԾՈՏՆ   1003
1        ԱՐԱՐԱՏ   4768
2       ԱՐՄԱՎԻՐ   2772
3   ԳԵՂԱՐՔՈՒՆԻՔ   1229
4        ԵՐԵՎԱՆ  25587
5          ԼՈՌԻ   5274
6        ԿՈՏԱՅՔ   4497
7         ՇԻՐԱԿ   1784
8       ՍՅՈՒՆԻՔ   3700
9     ՎԱՅՈՑ ՁՈՐ    295
10       ՏԱՎՈՒՇ   1103